// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$ac-cream: #F9F4F2;
$ac-blue: #79CAC4;
$ac-green: #8DE6AF;
$ac-grey: #39383D;
