<div class="footer" style="background-image: url('https://res.cloudinary.com/dl1kyce1c/image/upload/v1612956864/blue-footer_qp02vt.png');">
  <p class="text-center">© Copyright Le wagon - Batch 478</p>
</div>
