.navbar {
  justify-content: space-between;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  margin-bottom: 8px;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 150px;
}
