<!-- -- -- -- -- -- -- -- banner -- -- -- -- -- -- -- -->

<div class ="banner">
  <div class="container">
    <h2>Discover all our villagers</h2>
  </div>
</div>

<!-- -- -- -- -- -- -- -- Search form -- -- -- -- -- -- -- -->
<div>
</div>
<!-- -- -- -- -- -- -- -- all villagers / result form -- -- -- -- -- -- -- -->

<div class="container">
  <h3> Our all villagers</h3>
  <div class="cards">
    <% @villagers.each do |villager| %>
      <div class="card-category">
        <% if villager.photo.attached? %>
          <%= cl_image_tag villager.photo.key, height: 100, class: "m-2" %>
        <% else %>
          <%= image_tag(villager.image_villager, height: 100, class: "m-2" ) %>
        <% end %>
        <p><%= villager.name %></p>
        <%= link_to "see details", villager_path(villager), class: "btn btn-warning rounded-pill" %>
      </div>
    <% end %>
  </div>
</div>
