<!-- -- -- -- -- -- -- -- banner -- -- -- -- -- -- -- -->

<div class ="home-banner text-center">
  <div class="container">
    <h1>Green island</h1>
    <h2>Discover all villagers</h2>
  </div>
</div>

<!-- -- -- -- -- -- -- -- section all villagers -- -- -- -- -- -- -- -->

<div class="container">
  <h3> Our all villagers</h3>
  <div class="cards row justify-content-center">
    <% @villagers.each do |villager| %>
      <div class="card col-3 align-items-center p-4 m-1">
        <%= image_tag(villager.image_villager, height: 100, class: "m-2") %>
        <p><%= villager.name %></p>
        <%= link_to "see details", villager_path(villager), class: "btn btn-warning rounded-pill" %>
      </div>
    <% end %>
  </div>
</div>
